slides/latex/beamer/corsoCodificaTesto/Lezione-introduzione/l2l.tex
slides/latex/beamer/corsoCodificaTesto/imgs/l2l.pdf
slides/latex/beamer/corsoCodificaTesto/imgs/1200px-Text_Encoding_InitiativeTEI_Logo.svg.png
slides/latex/beamer/corsoCodificaTesto/Lezione-introduzione/l2l.tex
*.aux
*.log
*.nav
*.out
*.out
*.snm
*.toc
*.vrb
.DS_Store
**/.DS_Store
*.fdb_latexmk
*.fls
*.synctex.gz
slides/latex/beamer/corsoCodificaTesto/3-Lezione-Elementi-xml/includes/subinclude/__latexindent_temp.tex
